@page "/"

@inject IPublicApiService PublicApiService

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration;
@inherits IndexBase

<h1>Blazor - Data Grid Demo</h1>

    <RadzenCheckBox Style="margin-bottom: 20px" TValue="bool"  @bind-Value="@datagridVisible"/>
    <RadzenSelectBar  Style="margin-bottom: 20px" TValue="int" Change="@(args => recordsCountChange(args))" >
         <Items>
                <RadzenSelectBarItem Text="Four" Value="4" />
                <RadzenSelectBarItem Text="Six" Value="6" />
                <RadzenSelectBarItem Text="Ten" Value="10" />
            </Items>
        </RadzenSelectBar>

@if (publicApiEntries == null)
{
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 20px" />
}
else if(datagridVisible)
{
    <SearchGrid ApiEntries=@publicApiEntries RecordsPerPage=@recordsPerPage  IsDatagridVisible=@datagridVisible  />

}

@code {
    
      protected override async Task OnInitializedAsync()
    {
        publicApiEntries = (await PublicApiService.GetPublicApiEntries()).ToList();
        int i = 0;
        foreach (var publicApiEntry in publicApiEntries)
        {
            publicApiEntry.Image =  Configuration["image_api"] + i++;
        }
    }

}
