@inherits ProfileBase

<RadzenCard Style="width:600px; margin-bottom: 20px; height:500px;">
    <div class="row">
        <div class="col-md-6">
            <div>Company:</div>
            <b>Fictitious Company</b>
            <div style="margin-top:20px">Employee:</div>
            <b>Mr Hary Bary</b>
            <br />
            <RadzenImage Path="https://picsum.photos/200" Style="width:200px;" />
        </div>
        <div class="col-md-6">
            <div>Freight:</div>
            <b>$32.38</b>
            <div style="margin-top:20px">Ship country:</div>
            <b>France</b>
            <div style="margin-top:20px">Ship city:</div>
            <b>Reims</b>
            <div style="margin-top:20px">Ship name:</div>
            <b>Vins et alcools Chevalier</b>
             <div style="margin-top:20px ">Additional Details</div>
            <b>@ChildContent</b>
        </div>

    </div>
</RadzenCard>